$black: #000000;
$white: #ffffff;
$primary-dark: #303F9F;
$primary: #3F51B5;
$accent: #FF9800;
$text-primary: #212121;
$text-secondary: #757575;

$ground-floor: 0;
$first-floor: 25;
$second-floor: 50;
$third-floor: 75;
$fourth-floor: 100;