/**
 * @file _variables.scss
 *
 * Variable definition. Colours, z-indexes and font sizes
 *
 * @author Stanley Clark <s.clark@student.tue.nl>
 * @version 1.0.0
 */

$black: #000000;
$white: #ffffff;
$blue: #2566bb;

$primary-dark: #212121;
$primary: #EFEFEF;
$accent: #FF9800;
$accent-dark: #e18200;
$suitable: #4CAF50;
$suitable-dark: #388E3C;
$unsuitable: #8e9090;
$unsuitable-dark: #727272;
$text-primary: #212121;
$text-secondary: #757575;
$hufflepuff-color: #F1F31C;
$hufflepuff-color-dark: #e0e21c;
$gryffindor-color: #941B07;
$gryffindor-color-dark: #6d1707;
$slytherin-color: #154C07;
$slytherin-color-dark: #0f3206;
$ravenclaw-color: #071A80;
$ravenclaw-color-dark: #071860;

$ground-floor: 0;
$first-floor: 25;
$second-floor: 50;
$third-floor: 75;
$fourth-floor: 100;
$pent-house: 125;

$font-s: 0.8rem;
$font-m: 1rem;
$font-l: 1.2rem;
