// @file layout.scss
//
// This file is responsible for the layout of our page.
// It includes some top level id selectors which have contents on the layout.xhtml page.

@import "_general.scss";

// Set up a flex box display wrapper

#main-wrapper{
  display: flex;
  flex-flow: column;
  min-height: 100%;
}

#header {
  flex: 0 1 auto;
  background: url('../images/header-bg.jpg');
  background-size: contain;

  .flex-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .logo{
    flex: 1;
    width: 100px;
  }

  .header-text {
    flex: 1;
    padding: 2rem 0 0;
    text-align: center;

    .headline{
      color: $text-primary;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    background: rgba($primary-dark, 0.3);

    // We start the hack to display a highlight on parent concepts.
    // We do not know the order in which the concepts will appear.
    // TODO: figure out if this is safe and change if needed.

    .hogwarts-active + table tr:nth-of-type(4) td{
      @include nav-highlight();
    }

    .hall-active + table tr:nth-of-type(5) td{
      @include nav-highlight();
    }

    .fame-active + table tr:nth-of-type(3) td{
      @include nav-highlight();
    }

    .diagon-active + table tr:nth-of-type(2) td{
      @include nav-highlight();
    }

    .information-active + table tr:nth-of-type(6) td{
      @include nav-highlight();
    }

    // We hook into the fact that the padding-left of the tree view increases by 15px
    // in order to make our rows

    table{
      margin-bottom: 0;
      border-collapse: collapse;
    }

    tbody{
      border: 0;
    }

    tr{
      display: block;
      float: left;
      background: inherit;

      &:first-of-type{
        display: none;
      }
    }

    td{
      position: relative;
      padding: 0.5rem 15px;
    }

    table{
      margin-left: 15px;
      width: calc(100% - 15px);
    }

    tbody{
      background: transparent;
    }

    td[style="padding-left: 30px;"]{
      display: none;
    }

    a{
      padding: 0 1rem;
      color: $white;
    }

    b{
      font-weight: 400;
      @include nav-highlight();
    }
  }
}

#main {
  flex: 1 1 auto;
  display: flex;

  .sub-level-tree{
    width: 200px;
    background: $primary;

    tr, tbody{
        background: transparent;
    }

    tr:first-child, td[style="padding-left: 15px;"]{
      display: none;
    }
  }

  .content-wrapper{
    flex: 1;
    margin-right: 200px;
    padding-bottom: 3rem;
  }

  .next-button {
    position: fixed;
    width: 10rem;
    right: 2rem;
    bottom: 4rem;
  }
}

#footer {
  position: relative;
  flex: 0 1 25px;
  display: flex;
  justify-content: center;
  background: rgba($primary-dark, 0.3);

  .to-top{
    position: absolute;
    top: -38px;
    height: 38px;
    padding: 0.5rem 2rem;
    background-color: inherit;

    a{
      color: $white;
    }
  }
}
