// @file layout.scss
//
// This file is responsible for the layout of our page.
// It includes some top level id selectors which have contents on the layout.xhtml page.

@import "_general.scss";

$footer-height: 50px;

// The main wrapper is used to be able to have a footer that either sticks to the bottom
// or scrolls down with the content based on if the content is longer than the page.
// For this purpose we need a fixed footer height.

#main-wrapper{
  position: relative;
  min-height: 100%;
  padding: 0 0 $footer-height * 2;
}

#footer {
  @include stretch-absolute();
  top: auto;
  padding: 1rem;
  height: $footer-height;
  background: $text-secondary;
  color: $white;
}

#header {
  display: flex;
  padding: 1rem;
  align-items: center;
  background: $primary;

  .logo {
    width: 100px;
    margin-right: 1rem;
  }

  .header-text {
    flex: 1;
  }

  .headline{
    color: $white;
  }
}

// The next button is at a fixed point on our page for easy accessibility

#main {
  .next-button {
    position: fixed;
    width: 10rem;
    right: 2rem;
    bottom: 4rem;
  }
}

#nav {
  display: flex;
  flex-direction: column;
  background: $primary-dark;

  // We start the hack to display a highlight on parent concepts.
  // We do not know the order in which the concepts will appear.
  // TODO: figure out if this is safe and change if needed.

  .hogwarts-active + .top-level tr:nth-of-type(4) td{
    @include nav-highlight(0);
  }

  .hall-active + .top-level tr:nth-of-type(5) td{
    @include nav-highlight(0);
  }

  .fame-active + .top-level tr:nth-of-type(3) td{
    @include nav-highlight(0);
  }

  .diagon-active + .top-level tr:nth-of-type(2) td{
    @include nav-highlight(0);
  }

  .information-active + .top-level tr:nth-of-type(6) td{
    @include nav-highlight(0);
  }

  // We hook into the fact that the padding-left of the tree view increases by 15px
  // in order to make our rows

  .nav-tree{
    table{
      margin-bottom: 0;
      border-collapse: collapse;
    }

    tbody{
      border: 0;
    }

    tr{
      display: block;
      float: left;
      background: inherit;

      &:first-of-type{
        display: none;
      }
    }

    td{
      position: relative;
    }

    b{
      font-weight: 400;
    }

    &.top-level{
      table{
        margin-left: 15px;
        width: calc(100% - 15px);
      }

      tbody{
        background: $primary-dark;
      }

      td[style="padding-left: 30px;"]{
        display: none;
      }

      a{
        color: $white;
      }

      b{
        @include nav-highlight(0);
      }
    }

    &.sub-level{
      border-bottom: 4px solid $primary-dark;

      td[style="padding-left: 15px;"]{
        display: none;
      }

      td{
        padding-bottom: calc(0.625rem - 4px);
      }

      a{
        color: $text-primary;
      }

      b{
        @include nav-highlight(-0.3rem);
      }
    }
  }
}

