// This file contains the general page styling as well as imports for all other pages

@import "_general.scss";

@import "layout.scss";
@import "basic.scss";

body {
  margin: 0;
  background-color: $white;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.6rem;
}

