// This file contains the general page styling as well as imports for all other pages

@import "_general.scss";

@import "layout.scss";
@import "basic.scss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.6rem;
}

.material-card{
  margin: 2rem 0 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.button{
  background: $accent;
  color: $white;
  border-radius: 50px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}