/**
 * @file patterns.scss
 *
 * We define reusable component classes that should be implemented on the page for consistency
 *
 * @author Stanley Clark <s.clark@student.tue.nl>
 * @version 1.0.0
 */

@import "_general.scss";

.material-card{
	margin: 0 0 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	@include material-shadow();

	@include breakpoint(md){
		margin: 1rem 0 0;
	}
}

.button{
	background-color: $accent;
	color: $white;
	border-radius: 50px;
	@include material-shadow();

	&:hover{
		backgorund-color: $accent-dark;
	}
}

// We ran out of time to fix this properly so resort to using important in some cases

.button-ok{
	background: $suitable !important;

	&:hover{
		background: $suitable-dark !important;
	}
}

.button-unsuitable{
	background: $unsuitable !important;

	&:hover{
		background: $unsuitable-dark !important;
	}
}

.text-link{
	display: inline-block;
	color: #2ba6cb;
	cursor: pointer;

	&:hover{
		color: #258dad;
	}
}

.floating-figure {
	float: left;

	@include breakpoint(md){
		width: 50%;
		margin: 0 1rem 0 0;
	}
}

.hidden{
	display: none;
}