@import "../_general.scss";

#header table tr:nth-of-type(5) td{
	@include nav-highlight();
}

#main .tree-view--wrapper, #school{

	a.knowledge--known:not(.knowledge--level5):not(.course-blocked)[style="padding-left: 30px;"]{

		&.knowledge--suitable{
			color:  #2566bb;
		}

		&.knowledge--unsuitable{
			color: rgba($primary-dark, 0.2);
		}
	}

	a.course-blocked{
		color: #9e7272;

	}
}

#main .tree-view--wrapper{
	td[style="padding-left: 30px;"] {
		@include breakpoint(md) {
			padding-left: 30px !important;
		}
	}
}

#school {
	.level-container {
		.course-level-heading {
			display: inline-block;
			font-size: 1.6rem;
		}

		.course-level-toggle {
			display: none;
		}

		&:not(:last-of-type) {
			.course-level-toggle:checked {
				~ .course-level-heading .toggle-label::before {
					content: '-';
				}

				~ .expand {
					display: block;
				}

				&:before {
					content: '-';
					padding: 2px 9px;
				}
			}

			.expand {
				display: none;
				overflow: hidden;
			}

			.course-level-toggle {
				display: inline-block;
				margin: 0 0.5rem;
				vertical-align: text-top;

				&:before {
					content: '+';
					padding: 2px 7px;
					margin-left: -4px;
					line-height: 16px;
					background: $primary;
					border-radius: 50%;
				}
			}
		}
	}
}