@import "../reset.scss";
@import "../patterns.scss";
@import "../general.scss";

body {
	position: relative;
	background-image: url("../images/smoke.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}

#name {
	@include position-center();
}

#letter {
	@include position-center();
	background-image: url("../images/parchment.jpg");
}

#bar{
	height: 50px;
	width: 200px;
}

#submit{
	background-color: WhiteSmoke;
	font-size: 30px;
	padding: 7px 16px;

}