@import "../_general.scss";

#wrapper #header{
	background-image: url("../images/hufflepuff-wallpaper.png");
	background-size: cover;
}

#wrapper #header table a.knowledge--known:not(.knowledge--known-all){
	color: $white;
}

#wrapper #header .hero--wrapper .hero--headline{
	color: $white;
}

.tree-view--wrapper .house-knowledge--hufflepuff{
	@include include-icon('star_rate', $hufflepuff-color);
}

#header table tr td:after{
	background-color: $hufflepuff-color !important;
}

.button{
	background-color: $hufflepuff-color;

	&:hover{
		background-color: $hufflepuff-color-dark;
	}
}

#header .tree-view--wrapper {
	a.knowledge--first-time{
		@include include-icon--absolute('fiber_new', $hufflepuff-color);
	}
}