@import "../_general.scss";

#wrapper #header{
	background-image: url("../images/ravenclaw-wallpaper.jpg");
	background-size: cover;
}

#wrapper #header table a{
	color: $white;
}

#wrapper #header .hero--wrapper .hero--headline{
	color: $white;
}