@import "../_general.scss";

#wrapper #header{
	background-image: url("../images/slytherin-wallpaper.png");
	background-size: cover;
}

#wrapper #header table a.knowledge--known{
	color: $white;
}

#wrapper #header .hero--wrapper .hero--headline{
	color: $white;
}