@import "../_general.scss";

#wrapper #header{
	background-image: url("../images/slytherin-wallpaper.png");
	background-size: cover;
}

#wrapper #header table a.knowledge--known:not(.knowledge--known-all){
	color: $white;
}

#wrapper #header .hero--wrapper .hero--headline{
	color: $white;
}

.house-knowledge--gryffindor{
	@include include-icon('star_rate', $slytherin-color);
}

#header table tr td:after{
	background-color: $slytherin-color !important;
}

.button{
	background-color: $slytherin-color;

	&:hover{
		background-color: $slytherin-color-dark;
	}
}

#header .tree-view--wrapper {
	a.knowledge--first-time{
		@include include-icon--absolute('fiber_new', $slytherin-color);
	}
}